:root{
    --bg-dark-blue: #00143b;
    --bg-vrdark-blue: #00102f;
    --blue-text: #0059ff;
    --gray: #333333;

    --sm: 1.4rem;
    --md: 1.6rem;
    --mdl: 1.7rem;
    --lg: 1.8rem;
    --smlg: 2.4rem;
    --xlg: 3rem;
    --xxlg: 5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--bg-dark-blue);
    font-family: 'Rubik', sans-serif;
    color: white;
}

main{
    display: flex;
}

/* Estilos del menú lateral */

aside{
    background-color: var(--bg-vrdark-blue);
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}


.profile{
    height: auto;
}

.profile figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img{
    width: 45%;
    border-radius: 50%;
}

.profile-title{
    font-size: var(--xlg);
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 4px;
    text-align: center;
}

.profile-caption{
    font-size: var(--md);
    font-weight: 300;
    color: greenyellow;
}

.topics{
    height: 35%;
}

.topics ul{
    height: 100%;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topics ul li{
    list-style: none;
}

.topics ul li a{
    text-decoration: none;
}

.topic-button{
    background: linear-gradient(90deg, #00d2ff 0%, #387eff 100%);
    width: 160px;
    height: 40px;
    color: var(--bg-vrdark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.topic-button span{
    font-size: var(--sm);
    font-weight: 500;
}


/* Parte principal de la página*/

.title{
    margin: 0 0 0 50px;
    font-size: var(--xxlg);
    font-weight: 500;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caption{
    font-size: var(--xlg);
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

article{
    margin: 40px 0 40px 0;
}

/*Módulo de biografía*/

.container-bio{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.container-bio p{
    font-size: var(--lg);
    line-height: 2.7rem;
}

.container-study{
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.container-study h2{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-study p{
    font-size: var(--md);
}

.container-courses{
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
}

.course{
    width: 50%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.course figure img{
    width: 230px;
}

/*Módulo Stack*/

.container-stack{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container-stack-img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-stack{
    margin-top: 15px;
}

.img-stack img{
    border-radius: 12px;
}

.item-caption{
    text-align: center;
    font-size: var(--lg);
}

/* Módulo de proyectos */

.projects-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.container-projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project{
    width: 30%;
    height: auto;
    background-color: var(--bg-vrdark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0 20px 0;
    position: relative;
}

.img-project img{
    width: 100%;
}

.project-caption{
    font-size: var(--smlg);
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: 500;
}

.container-project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.container-button{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border-top: solid 1px #25417c;
}

.container-button a{
    width: 30%;
    text-decoration: none;
}

.project-button{
    width: 100%;
    height: 35px;
    font-size: var(--md);
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-preview{
    background-color: yellowgreen;
    color: var(--bg-vrdark-blue);
}

.button-github{
    background-color: var(--gray);
    color: whitesmoke;
}


/* Módulo contacto*/

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.contact-email{
    width: auto;
    padding-left: 30px;
    height: 6vh;
    background-color: var(--bg-vrdark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.contact-email span{
    font-size: var(--lg);
}

.icons-container{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 10vh;
}

.email{
    padding-right: 30px;
}

.email-copy{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.email-copy span{
    padding-left: 30px;
    border-left: 1px solid white;
}

.email-copy:hover{
    cursor: pointer;
    background-color: #021d50;
}

/* Responsive */

@media(max-width: 1440px) and (min-width: 1366px){
    aside{
        width: 40vw;
    }
}

@media(max-width: 1280px){
    main{
        flex-direction: column;
    }

    aside{
        width: 100vw;
        height: 55vh;
        position: static;
    }

    .topics{
        height: 45%;
        margin-top: 25px;
    }
}

@media(max-width: 768px){

    aside{
        height: 80vh;
    }

    .container-bio{
        width: 94%;
    }

    .course{
        margin-top: 50px;
    }

    .container-study p{
        width: 90%;
        text-align: center;
    }

    .project{
        width: 80%;
    }

    .stack-caption{
        text-align: center;
        width: 90%;
    }

    .container-stack-img{
        width: 100%;
    }

    .img-stack img{
        width: 100px;
    }

    .container-courses{
        flex-direction: column;
        align-items: center;
    }

    .contact-email{
        width: auto;
        max-width: 90%;
    }

    .contact-email span{
        font-size: var(--sm);
    }

    .email{
        padding-right: 15px;
    }

    .email-copy span{
        padding-left: 15px;
    }
}
