:root{
    --bg-dark-blue: #00143b;
    --bg-vrdark-blue: #00102f;
    --blue-text: #0059ff;

    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --xlg: 3rem;
    --xxlg: 5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--bg-dark-blue);
    font-family: 'Rubik', sans-serif;
    color: white;
}

main{
    display: flex;
}


aside{
    background-color: var(--bg-vrdark-blue);
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile{
    height: 26%;
}

.profile figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img{
    width: 45%;
    border-radius: 50%;
}

.profile-title{
    font-size: var(--xlg);
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 4px;
}

.profile-caption{
    font-size: var(--md);
    font-weight: 300;
}

.topics{
    height: 35%;
}

.topics ul{
    height: 100%;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topics ul li{
    list-style: none;
}

.topics ul li a{
    text-decoration: none;
}

.topic-button{
    background-color: midnightblue;
    width: 160px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.topic-button span{
    font-size: var(--sm);
    font-weight: 500;
}


/* Parte principal de la página*/

.title{
    margin: 0 0 0 50px;
    font-size: var(--xxlg);
    font-weight: 500;
    color: var(--blue-text);
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 30px 0;
}

.container-stack{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.stack-caption{
    font-size: var(--xlg);
    font-weight: 500;
    margin-bottom: 20px;
}

.container-stack-img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-stack{
    margin-top: 15px;
}

.img-stack img{
    border-radius: 12px;
}

.item-caption{
    text-align: center;
    font-size: var(--lg);
}


/* Responsive */

@media(max-width: 768px){
    main{
        flex-direction: column;
    }

    aside{
        width: 100vw;
    }
}
